
/* Style global */
body {
    font-family: 'Segoe UI', sans-serif;
}

.sidebar {
    height: 100%;
    width: 260px;
    position: fixed;
    background-color: #003366;
    padding-top: 20px;
}

.sidebar a {
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    display: block;
    border-bottom: 1px solid #005599;
}

.sidebar a:hover {
    background-color: #005599;
    color: #FFD700;
}

.sidebar a.active {
    background-color: #FFA500;
    color: white;
}

.main {
    margin-left: 270px;
    padding: 20px;
}
